.button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button2 {background-color: #008CBA;} /* Blue */
h2{
color:#008CBA;
}